<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.perandersen.moodclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/smile"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="no.perandersen.moodclient.activities.MainActivity"
            android:label="@string/title_activity_main" >

        </activity>
        <activity
            android:name="no.perandersen.moodclient.activities.SleepLogActivity"
            android:label="@string/title_activity_sleep_log"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="no.perandersen.moodclient.activities.MainActivity" />
        </activity>
        <activity
            android:name="no.perandersen.moodclient.activities.TextAndImageLogActivity"
            android:label="@string/title_activity_text_and_image_log" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="no.perandersen.moodclient.activities.MainActivity" />
        </activity>
        <activity
            android:name="no.perandersen.moodclient.activities.DebugMainActivity"
            android:label="@string/title_activity_debug_main" >
        </activity>
        <activity
            android:name="no.perandersen.moodclient.activities.EditTodayActivity"
            android:label="@string/title_activity_edit_today" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="no.perandersen.moodclient.activities.MainActivity" />
        </activity>
        <activity
            android:name="no.perandersen.moodclient.activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="no.perandersen.moodclient.activities.MainActivity" />
        </activity>
        <activity
            android:name="no.perandersen.moodclient.activities.MoodActivity"
            android:label="@string/title_activity_evening" >
                        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>